<div class="footer-section">
    <div class="ofh">
        <div class="wl ft mtauto ofh">
            <div class="ft_link fl">
                <p>
                    <a href="javascript:;" target='' class="">关于我们</a>
                    <a href="javascript:void(0);" class="">法律法规</a>
                    <a href="javascript:void(0);" class="">帮助中心</a>
                    <a href="javascript:void(0);" class="">新手引导</a>
                </p>
                <dl class="ofh friend-dl">
                    <dt class="fs12 fstyle1 fc_bf lh30 fl">友情链接：</dt>
                    <dd class="fr friend_link">
                        <a href="https://pay.sina.com.cn/zjtg" class="" target="_blank" title="新浪支付">新浪支付</a>
                        <span class="">|</span>
                        <a href="http://www.99fund.com" class="" target="_blank" title="汇添富">汇添富</a>                                    <span class="">|</span>
                        <a href="javascript:void(0);" class=""  title="全众投资">全众投资</a><br/>                                    <a href="http://guta.com" class="" target="_blank" title="古塔 ">古塔 </a>
                        <span class="">|</span>
                        <a href="http://www.micang.com" class="" target="_blank" title="米仓网">米仓网</a>                                    <span class="">|</span>
                        <a href="http://www.mixue.com" class="" target="_blank" title="米学网">米学网</a>                    </dd>
                </dl>
            </div>
            <div class="WeChat_code fl">
                <p class="fl">
                    <img src="Public/web/images/jd_gzh.png"/>
                    <span class="fs12 fc_bf block tc fstyle1 lh40">简贷公众号</span>
                </p>
                <p class="fr">
                    <img src="Public/web/images/jd_kefu.png"/>
                    <span class="fs12 fc_bf block tc fstyle1 lh34">客服微信号</span>
                </p>
            </div>
            <div class="contact fl">
                <p class="fs14 fc_bf fstyle1 hot_line">财富热线（工作日：09:00-21:00）</p>
                <p class="fc_bf bold tel_num">400-8858-258</p>
                <p class="fs14 fc_bf fstyle1 web_chat_num">微信客服：931797777</p>
            </div>
        </div>
        <div class="tc fs12 fstyle1 fc_bf lh22 pt5">厦门简贷金融技术服务有限公司  简贷网 &nbsp;闽ICP备15022225号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Public/web/images/pl_ba.png" class="va-tb mr4">公安备案号 35020602000042</div>
        <div class="tc fs12 fstyle1 fc_bf lh22 pb5">Copyright©2015-2017 jiandai.All Rights Reserved</div>
    </div>
</div>
